<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments :: layout(~{::main})}">
<head>
    <title>dsr - About</title>
</head>
<body>
    <main>
        <h1>About Me</h1>
        <!--<p>Soy un profesional de la ciberseguridad...</p>-->
        <div class="bio">
    <span class="prompt">guest@dsr:~$</span> cat bio.txt
    <pre>
Nombre: Diego Soria 
Intereses:
  - Seguridad Web Ofensiva y Defensiva
  - CTFs y Hacking Ético
  - Arquitectura y creación de entornos seguros
  - Inteligencia Artificial y Automatización
Experiencia:
  - Organizador de <a href="https://hackon.es/" target="_blank">HackOn</a> (Sep 2023 - Presente)
  - Asistente a <a href="https://rootedcon.com/" target="_blank">RootedCON</a>, <a href="https://navajanegra.com/" target="_blank">Navaja Negra</a>, <a href="https://www.ccn-cert.cni.es/es/" target="_blank">CCN-CERT</a>, etc...
Stack & Especialización:
  - Auditorías de seguridad web y análisis de vulnerabilidades
  - Desarrollo seguro de aplicaciones (Java / Spring Boot)
  - Creación y despliegue de entornos virtualizados
    (Proxmox, Docker, segmentación de red)
  - Integración de IA en flujos de trabajo y herramientas propias
  - Automatización de procesos (Python, Bash, n8n)
    </pre>
</div>
    </main>
</body>
</html>
