<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments :: layout(~{::main})}">
<head>
    <title>dsr</title>
</head>
<body>
    <main>
        <h1>Home</h1>
        <p><span class="prompt">guest@dsr:~$</span> ./welcome.sh</p>
        
        <div class="welcome-message">
            <p>Welcome to my digital portfolio. I am a Cybersecurity Consultant and Software Developer.</p>
        </div>
        
        <div><span class="prompt">guest@dsr:~$</span> whoami</div>
        <div class="response">Diego Soria</div>
        <div><span class="prompt">guest@dsr:~$</span> cat summary.txt</div>
        <div class="response">
            Soy Diego, apasionado y estudiante de Ingeniería de ciberseguridad, redes, infraestructura, IA, IT y un poco de todo.<br>
            Aqui encontrarás la mayoría de los proyectos que desarrollo así como charlas y de más. Echale un vistazo.<br>
            Github: <a href="https://github.com/xv0rtex" target="_blank">xv0rtex</a><br>
            LinkedIn: <a href="https://www.linkedin.com/in/diego-soria-ruiz/" target="_blank">Diego Soria Ruiz</a>
        </div>
    </main>
</body>
</html>
